/**
 * %day_desc%
 */
use crate::Day;
pub struct Day%day%;
impl Day for Day%day% {
  fn part1(&self, input: &String) -> String {
    return String::from("");
  }
  fn part2(&self, input: &String) -> String {
    return String::from("");
  }
}

